@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.apresentacao {
    font-size: 16px;
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 3%;
}

img {
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top: 30px;
}

h1{
    margin-left: 45px;
    margin-top: 50px;
    font-size: 35px;
    margin-right: 46%;
    font-weight: 400;
}

body{
    background-color: #f4e4dc;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: white;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

div {
    font-family: "Outfit", sans-serif;
    font-weight: 350;
    margin: 0 70px;
    margin-top: -20px;
    margin-bottom: 35px;
}

.preparacao-tempo {
    font-family: "Outfit", sans-serif;
    color:#720f3a;
    font-size: 20px;
    align-items: center;
    margin-top: 10px;
    border-radius: 7px;
    margin-left: 10px;
}

.timer_receita{
    justify-content: start;
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color:#fcf4fc;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
}

.li{
    margin-left: 30px;
}

.ingredientes_receita{
    font-size: 30px;
    font-weight: 200;
    color: #916657;
    margin-left: -65%;
    margin-top: 3%;
}

.li_2{
    margin-left: 100px;
    font-family: "Outfit", sans-serif;
    font-weight: 350;
}

.instrucoes {
    color: #916657;
    font-size: 30px;
    margin-top: 3%;
    font-family: 'Young Serif', sans-serif;
    font-weight: 200;
}   

h5{
    font-size: 30px;
    color: #916657;
}

.indicamento{
    margin-top: 20px;
    margin-right: 50px;
    margin: 0 2px;
}

.indicamento{
    margin-bottom: 35px;
}

.tabela_nutricional {
    margin-bottom: 10px;
    margin: 0 80px;
    margin-left: 30px;
    font-size: 20px;
}

.number{
    color:#916657;
    margin-left: 5px;
}

.div-number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr{
    margin-top: 10px;
    margin-bottom: -30px;
}

footer p{
    width: 100vh;
    text-align: center;
    color:#916657;
}